<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="contact">
    <link rel="stylesheet" href="/assets/css/contact.css" />
    <div class="container">
        <div class="left-section">
            <div class="content">
                <span class="topper">Contact Me</span>
                <h2 class="title">Get in Touch</h2>
                <p class="text">
                    I’m open to freelance and consulting around machine
                    learning, automation, and geospatial.
                    <br /><br />
                    Whether you're looking to build an AI system, explore
                    automation for ESG reporting, or chat about data workflows,
                    I’d love to hear from you.
                </p>
            </div>
            <form id="form" name="Contact Form" method="post">
                <label class="label">
                    Name
                    <input
                        class="input"
                        required
                        type="text"
                        id="name"
                        name="name"
                        placeholder="How do I call you?"
                    />
                </label>
                <label class="label">
                    Email
                    <input
                        class="input"
                        required
                        type="text"
                        id="email"
                        name="email"
                        placeholder="What's your email?"
                    />
                </label>
                <label class="label">
                    Phone (optional)
                    <input
                        class="input"
                        required
                        type="text"
                        id="phone"
                        name="phone"
                        placeholder="Can add if you prefer a call"
                    />
                </label>
                <label class="label label-message">
                    Message
                    <textarea
                        class="input textarea"
                        required
                        name="Message"
                        id="message"
                        placeholder="What do you have in mind?"
                    ></textarea>
                </label>
                <button class="button-solid submit" type="submit">
                    Let’s Make Something Cool
                </button>
            </form>
        </div>
        <div class="right-section">
            <ul class="ul">
                <li class="li">
                    <picture class="icon-wrapper">
                        <img
                            aria-hidden="true"
                            src="/assets/svgs/mail.svg"
                            alt="mail icon"
                            class="icon"
                            width="36"
                            height="36"
                            decoding="async"
                        />
                    </picture>
                    <div class="flex-group">
                        <span class="header">Email</span>
                        <a href="mailto:hdmquan@outlook.com" class="link"
                            >hdmquan@outlook.com</a
                        >
                    </div>
                </li>
                <li class="li">
                    <picture class="icon-wrapper">
                        <img
                            aria-hidden="true"
                            src="/assets/svgs/phone.svg"
                            alt="phone icon"
                            class="icon"
                            width="36"
                            height="36"
                            decoding="async"
                        />
                    </picture>
                    <div class="flex-group">
                        <span class="header">Phone</span>
                        <a href="tel:+614860100043" class="link"
                            >+61 486 010 043</a
                        >
                    </div>
                </li>
                <li class="li">
                    <picture class="icon-wrapper">
                        <img
                            aria-hidden="true"
                            src="/assets/svgs/map-icon.svg"
                            alt="address icon"
                            class="icon"
                            width="36"
                            height="36"
                            decoding="async"
                        />
                    </picture>
                    <div class="flex-group">
                        <span class="header">Address</span>
                        <a href="" class="link"
                            >120 Spencer St, Melbourne, VIC 3000</a
                        >
                    </div>
                </li>
            </ul>
            <iframe
                width="425"
                height="350"
                src="https://www.openstreetmap.org/export/embed.html?bbox=144.95182156562808%2C-37.819963312243964%2C144.95619356632236%2C-37.816492655948004&amp;layer=cyclosm&amp;marker=-37.81822800449354%2C144.9540075659752"
            ></iframe>
        </div>
    </div>
</section>
