<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
  <div class="container">
    <ul class="ul">
      <li class="li">
        <a href="/" class="link">Home</a>
      </li>
      <li class="li">
        <a href="/about" class="link">About Me</a>
      </li>
      <li class="li">
        <a href="/project" class="link">Projects</a>
      </li>
      <li class="li">
        <a href="/blog" class="link">Blogs</a>
      </li>
      <li class="li">
        <a href="/#contact" class="link">Contact</a>
      </li>
    </ul>
    <span class="copyright">© 2024 - {% year %} Copyright</span>
  </div>
</footer>
