<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer-108">
  <div class="container">
    <ul class="ul">
      <li class="li">
        <a href="" class="link">Home</a>
      </li>
      <li class="li">
        <a href="" class="link">Projects</a>
      </li>
      <li class="li">
        <a href="" class="link">Blogs</a>
      </li>
    </ul>
    <span class="copyright">© 2024 Copyright</span>
  </div>
</footer>
