<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="navigation">
  <div class="container">
    <nav class="nav" role="navigation">
      <button class="toggle" aria-label="mobile menu toggle">
        <div class="box" aria-hidden="true">
          <span class="line line1" aria-hidden="true"></span>
          <span class="line line2" aria-hidden="true"></span>
          <span class="line line3" aria-hidden="true"></span>
        </div>
      </button>
    <div class="ul-wrapper">
        <ul id="expanded" class="ul" aria-expanded="false">
          <li class="li">
            <a href="/" class="li-link"> Home </a>
          </li>
          <li class="li">
            <a href="/project" class="li-link"> Projects </a>
          </li>
          <li class="li">
            <a href="/blog" class="li-link"> Blogs </a>
          </li>
          <li class="li">
            <a href="/#contact" class="li-link"> Contact </a>
          </li>
        </ul>
      </div>
    </nav>
    <button id="dark-mode-toggle" aria-label="dark mode toggle">
            <img class="moon" aria-hidden="true" src="/assets/svgs/moon-svgrepo-com.svg" decoding="async" alt="moon" width="15" height="15">
            <img class="sun" aria-hidden="true" src="/assets/svgs/sun-svgrepo-com.svg" decoding="async" alt="sun" width="15" height="15">
        </button>
    </div>
    
  </div>
</header>
