---
title: "Projects | Alan Huynh"
description: "Where I wrote about Data and Machine Learning projects I worked on"

permalink: "project/"
eleventyNavigation:
  key: Blog
  order: 500
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/blog.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <div class="container">
    <h1 id="home-h">My Project</h1>
    <p class="description">Where I wrote about interesting stuff I worked on</p>
  </div>
</section>

<!-- ============================================ -->
<!--              Main Blog Content               -->
<!-- ============================================ -->

<div class="blog-container main-content-wrapper">
  <!--Main content -->
  <div class="main-content">
    <!-- ============================================ -->
    <!--                 Blog Articles                -->
    <!-- ============================================ -->

    {% if collections.project | length == 0 %}
    <h1>No Recent Projects</h1>
    {% else %} {%- for project in collections.project -%}
    <article class="recent-articles">
      <!--Main Article Image-->
      <picture class="blog-mainImage">
        <img
          src="{{ project.data.image }}"
          alt="{{ project.data.imageAlt }}"
          width="795"
          height="400"
          decoding="async"
        />
      </picture>
      <!--Article Info-->
      <div class="article-group">
        <div class="blog-authorGroup">
          <!--Author Image-->
          <picture class="blog-author-img">
            <img
              src="/assets/images/alan.jpeg"
              alt="Author Image"
              width="32"
              height="32"
              decoding="async"
            />
          </picture>
          <span class="blog-author">{{ project.data.author }}</span>
          <span aria-hidden="true" class="blog-dot"></span>
          <!--Blog Date-->
          <span class="blog-date"
            >{{ project.date | date("MMMM D, YYYY") }}</span
          >
        </div>
        <h2 class="blog-h1">{{ project.data.title }}</h2>
        <p class="blog-desc">{{ project.data.description }}</p>
        <a href="{{ project.url }}" class="button">View Project</a>
      </div>
    </article>
    {%- endfor -%} {% endif %}
  </div>
</div>
{% endblock %}
