/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #text-left .container,
  #text-right .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 7vw, 4rem);
  }
  #text-left .content,
  #text-right .content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to the .content so we can have the picture be full width on mobile without the padding preventing it from doing so */
    padding: var(--sectionPadding);
    padding-top: 0;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #text-left .text,
  #text-right .text {
    margin-bottom: 1rem;
  }
  #text-left .text:last-of-type,
  #text-right .text:last-of-type {
    margin-bottom: 2rem;
  }
  #text-left .picture,
  #text-right .picture {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
  }
  #text-left .picture img,
  #text-right .picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #text-left .video-container,
  #text-right .video-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #text-left,
  #text-right {
    padding: var(--sectionPadding);
  }
  #text-left .container,
  #text-right .container {
    flex-direction: row;
    justify-content: flex-start;
    /* 60px - 128px */
    gap: clamp(3.75rem, 10vw, 8rem);
  }
  #text-left .content,
  #text-right .content {
    width: 53%;
    /* reset the padding, add the section padding back to the section container */
    padding: 0;
  }
  #text-left .picture,
  #text-right .picture {
    width: 47vw;
    /* 518px - 700px */
    position: relative;
  }
  #text-left .picture:before,
  #text-right .picture:before {
    /* yellow box */
    content: "";
    width: 50%;
    height: 60%;
    background: var(--secondary);
    opacity: 1;
    display: block;
    position: absolute;
    /* 16px - 28px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
    bottom: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
    left: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #text-left .topper,
  body.dark-mode #text-right .topper {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #text-left .title,
  body.dark-mode #text-left .text,
  body.dark-mode #text-right .title,
  body.dark-mode #text-right .text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #text-left .text,
  body.dark-mode #text-right .text {
    opacity: 0.8;
  }
  body.dark-mode #text-left .picture:before,
  body.dark-mode #text-right .picture:before {
    background-color: var(--accent);
  }
}
/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #text-right {
    background-color: #f7f7f7;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #text-right .container {
    justify-content: flex-end;
  }
  #text-right .content {
    /* sends it to the left in the first position */
    order: -1;
  }
  #text-right .picture {
    /* 16px - 28px, added margin left and bottom to picture so it pushes away by the same amount the yellow box element overlaps it left and bottom. This maintains consistent spacing left and bottom */
    margin: 0 clamp(1rem, 2.4vw, 1.75rem) clamp(1rem, 2.4vw, 1.75rem) 0;
  }
  #text-right .picture:before {
    /* yellow box */
    content: "";
    width: 50%;
    height: 60%;
    background: var(--secondary);
    opacity: 1;
    display: block;
    position: absolute;
    left: auto;
    /* 16px - 28px, wrapped in calc function to multiple by negative 1 and get a negative clamp value */
    bottom: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
    right: calc(clamp(1rem, 2.4vw, 1.75rem) * -1);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #text-right {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

/*# sourceMappingURL=about.css.map */
