/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero {
    z-index: 1;
    position: relative;
    overflow: hidden;
    padding-top: 7.5rem;
    text-align: center;
  }
  #hero span {
    font-weight: 900;
  }
  #hero .social-section {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
  }
  #hero .social-section .topper {
    margin: 0;
  }
  #hero .social-section img:hover {
    filter: invert(25%) sepia(50%) saturate(1000%) hue-rotate(270deg);
  }
  #hero a {
    text-decoration: none;
  }
  #hero .container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 80em;
    width: 90%;
  }
  #hero .container:before {
    position: absolute;
    top: 0;
    left: 0;
    /* Left Line */
    content: "";
    opacity: 1;
    display: block;
    height: 100%;
    width: 1px;
  }
  #hero .topper {
    margin-bottom: 1rem;
    color: var(--primary);
    text-align: center;
  }
  #hero .title {
    width: 100%;
    color: var(--bodyTextColor);
    font-size: clamp(6rem, 10vw, 8rem);
    margin-bottom: 2rem;
    text-align: left;
  }
  #hero .text {
    /* 32px - 40px */
    /* 40px - 48px */
    margin-bottom: clamp(2.5rem, 4vw, 3rem);
    color: var(--bodyTextColor);
    font-size: clamp(1.9375rem, 3.9vw, 3.0625rem);
    max-width: 58.75rem;
    margin-left: auto;
    text-align: left;
  }
  #hero .button-solid {
    margin-bottom: 1rem;
    height: initial;
    border: 2px solid #000;
    line-height: 2.3rem;
    padding: 0 1.25rem;
    width: auto;
    align-self: flex-start;
    color: var(--bodyTextColor);
    background-color: #fff;
  }
  #hero .button-solid:hover {
    color: #fff;
  }
  #hero .button-transparent {
    z-index: 1;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bodyTextColorWhite);
    margin: 0 0.5rem;
    background-color: transparent;
    /* 46px - 56px */
    height: clamp(2.875em, 5.5vw, 3.5em);
    width: 11.25rem;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    font-weight: 700;
    color: #fff;
  }
  #hero .button-transparent .img {
    display: block;
    margin-right: 0.75rem;
  }
  #hero .button-transparent:before {
    z-index: -1;
    position: absolute;
    /* so it sits on top of the border */
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    opacity: 1;
    /* this is what creates the grow affect on hover */
    transform: scaleX(0);
    display: block;
    background: #000;
    transition: transform 0.3s;
    transform-origin: left;
  }
  #hero .button-transparent:hover:before {
    transform: scaleX(1);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 64rem) {
  #hero .container {
    padding: 4rem 0 0 0;
  }
  #hero .container:after {
    position: absolute;
    top: 0;
    right: 0;
    /* Right Line */
    content: "";
    opacity: 1;
    display: block;
    height: 100%;
    width: 1px;
  }
  #hero .button-solid {
    margin-right: 1.25rem;
    margin-bottom: 0;
  }
}
/* Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25em) {
  #hero {
    background: url("/assets/images/landing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* creates parallax effect on background image */
    background-attachment: fixed;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero .background:before {
    opacity: 0.8;
  }
  body.dark-mode #hero .title,
  body.dark-mode #hero .text,
  body.dark-mode #hero .topper {
    color: #fff;
  }
  body.dark-mode #hero img {
    filter: invert(100%);
  }
  body.dark-mode #hero .button-solid {
    border: 2px solid #fff;
  }
}

/*# sourceMappingURL=critical.css.map */
