@media only screen and (min-width: 0rem) {
    .tech-ribbon {
        overflow: hidden;
        position: relative;
        white-space: nowrap;

        .tech-track {
            display: inline-flex;
            animation: scroll 20s linear infinite;
            will-change: transform;

            img {
                height: clamp(40px, 4vw, 80px);
                margin: 0 0.5rem;
                flex-shrink: 0;

                @media (max-width: 600px) {
                    height: clamp(15px, 3vw, 30px);
                    margin: 0 0.5rem;
                }
            }

            &.paused {
                animation-play-state: paused;
            }
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}
