---
title: "Melbourne Machine Learning Engineer | Geospatial & Computer Vision"
description: "Alan Huynh is a Melbourne-based Machine Learning Engineer specializing in geospatial analysis, computer vision, and automation. Explore his portfolio, blog, and innovative projects involving geospatial temporal and environmental data."

permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
  <div class="container">
    <h1 class="title">Hi, I'm Alan.</h1>
    <p class="text">
      <span>Machine Learning</span> Engineer in <span>Geospatial</span> and
      <span>Computer Vision</span>.
    </p>
    <div class="social-section">
      <h2 class="topper">My Social</h2>
      <div class="social-icons">
        <a
          href="https://www.linkedin.com/in/hdmquan"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/assets/svgs/linkedin-svgrepo-com.svg"
            alt="LinkedIn"
            width="40"
            height="40"
          />
        </a>
        <a
          href="https://www.github.com/hdmquan"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/assets/svgs/github-svgrepo-com.svg"
            alt="GitHub"
            width="40"
            height="40"
          />
        </a>
        <a
          href="https://www.twitter.com/alan_huyn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/assets/svgs/twitter-svgrepo-com.svg"
            alt="Twitter"
            width="40"
            height="40"
          />
        </a>
        <a
          href="https://soundcloud.com/symphonynonine"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/assets/svgs/soundcloud-svgrepo-com.svg"
            alt="Instagram"
            width="40"
            height="40"
          />
        </a>
      </div>
      <a
        href="/assets/images/blog/alan-huynh-resume.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="button-solid"
        >My Resume</a
      >
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="sbsr-1279">
  <div class="container">
    <picture class="picture">
      <img
        loading="lazy"
        decoding="async"
        src="/assets/images/talk.jpeg"
        alt="construction"
        width="738"
        height="598"
      />
    </picture>
    <div class="content">
      <div class="flex">
        <h2 class="title">About Me</h2>
      </div>
      <p class="text">
        I'm a Machine Learning Engineer in Melbourne who loves automation and
        exploring all kinds of ML projects. I enjoy working on Geospatial,
        Environmental, and Temporal data but am always open to new challenges.
      </p>
      <p class="text">
        Outside of software, I'm a classical-trained pianist, composer, EDM fan,
        and rhythm game enthusiast.
      </p>
    </div>
  </div>
  <picture class="background">
    <img
      loading="lazy"
      decoding="async"
      src="/assets/svgs/contour-lines.svg"
      alt="waves"
      width="960"
      height="839"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                 Recent Projects              -->
<!-- ============================================ -->

<section id="blog">
  <div class="container">
    <div class="content">
      <div class="flex">
        <span class="topper">My Projects</span>
        <h2 class="title">What I worked on</h2>
      </div>
      <div class="flex">
        <a aria-label="view more pictures" href="" class="more-link">
          View More
          <img src="/assets/svgs/arrow.svg" alt="Arrow Icon" />
        </a>
      </div>
    </div>

    <ul class="card-group">
      {% if collections.project | length > 0 %} {%- for project in
      collections.project | reverse -%}
      <li class="item">
        <a class="link" href="{{ project.url }}">
          <picture class="picture">
            <img
              decoding="async"
              src="{{ project.data.image }}"
              alt="{{ project.data.imageAlt }}"
              width="420"
              height="420"
              aria-hidden="true"
            />
          </picture>
          <div class="item-text">
            <h3 class="h3">{{ project.data.title }}</h3>
            <p class="desc">{{ project.data.description }}</p>
            {#
            <div class="info">
              <span class="date">{{ project.date | date("%-d %b, %Y") }}</span>
            </div>
            #}
          </div>
        </a>
      </li>
      {%- endfor -%} {% else %}
      <p class="error">Something went wrong, no project found.</p>
      {% endif %}
    </ul>
  </div>
  {#
  <div class="bubbles" aria-hidden="true"></div>
  #}
</section>

<section id="blog">
  <div class="container">
    <div class="content">
      <div class="flex">
        <span class="topper">My Blog</span>
        <h2 class="title">What I wrote about</h2>
      </div>
      <div class="flex">
        <a aria-label="view more pictures" href="" class="more-link">
          View More
          <img src="/assets/svgs/arrow.svg" alt="Arrow Icon" />
        </a>
      </div>
    </div>

    <ul class="card-group">
      {% if collections.blog | length > 0 %} {%- for blog in collections.blog |
      reverse -%}
      <li class="item">
        <a class="link" href="{{ blog.url }}">
          <picture class="picture">
            <img
              decoding="async"
              src="{{ blog.data.image }}"
              alt="{{ blog.data.imageAlt }}"
              width="420"
              height="420"
              aria-hidden="true"
            />
          </picture>
          <div class="item-text">
            <h3 class="h3">{{ blog.data.title }}</h3>
            <p class="desc">{{ blog.data.description }}</p>
            {#
            <div class="info">
              <span class="date">{{ blog.date | date("%-d %b, %Y") }}</span>
            </div>
            #}
          </div>
        </a>
      </li>
      {%- endfor -%} {% else %}
      <p class="error">Something went wrong, no blog found.</p>
      {% endif %}
    </ul>
  </div>
  {#
  <div class="bubbles" aria-hidden="true"></div>
  #}
</section>

{% endblock %}
