---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero">
  <div class="container">
    <h1 class="title">Hi, I'm Alan.</h1>
    <p class="text">
      <span>Machine Learning</span> Engineer with <span>Geospatial</span> and
      <span>Computer Vision</span>.
    </p>
  </div>
</section>

<!-- ============================================ -->
<!--                 Recent Projects              -->
<!-- ============================================ -->

<section id="blog-1347">
  <div class="container">
    <div class="content">
      <div class="flex">
        <span class="topper">My Projects</span>
        <h2 class="title">What I worked on</h2>
      </div>
      <div class="flex">
        <a aria-label="view more pictures" href="" class="more-link">
          View More
          <img src="/assets/svgs/arrow.svg" alt="Arrow Icon" />
        </a>
      </div>
    </div>

    <ul class="card-group">
      {% if collections.project | length > 0 %} {%- for project in
      collections.project | reverse -%}
      <li class="item">
        <a class="link" href="{{ project.url }}">
          <picture class="picture">
            <img
              decoding="async"
              src="{{ project.data.image }}"
              alt="{{ project.data.imageAlt }}"
              width="420"
              height="420"
              aria-hidden="true"
            />
          </picture>
          <div class="item-text">
            <h3 class="h3">{{ project.data.title }}</h3>
            <p class="desc">{{ project.data.description }}</p>
            {#
            <div class="info">
              <span class="date">{{ project.date | date("%-d %b, %Y") }}</span>
            </div>
            #}
          </div>
        </a>
      </li>
      {%- endfor -%} {% else %}
      <p class="error">Something went wrong, no project found.</p>
      {% endif %}
    </ul>
  </div>
  {#
  <div class="bubbles" aria-hidden="true"></div>
  #}
</section>

<section id="blog-1347">
  <div class="container">
    <div class="content">
      <div class="flex">
        <span class="topper">My Blog</span>
        <h2 class="title">What I wrote about</h2>
      </div>
      <div class="flex">
        <a aria-label="view more pictures" href="" class="more-link">
          View More
          <img src="/assets/svgs/arrow.svg" alt="Arrow Icon" />
        </a>
      </div>
    </div>

    <ul class="card-group">
      {% if collections.blog | length > 0 %} {%- for blog in collections.blog |
      reverse -%}
      <li class="item">
        <a class="link" href="{{ blog.url }}">
          <picture class="picture">
            <img
              decoding="async"
              src="{{ blog.data.image }}"
              alt="{{ blog.data.imageAlt }}"
              width="420"
              height="420"
              aria-hidden="true"
            />
          </picture>
          <div class="item-text">
            <h3 class="h3">{{ blog.data.title }}</h3>
            <p class="desc">{{ blog.data.description }}</p>
            {#
            <div class="info">
              <span class="date">{{ blog.date | date("%-d %b, %Y") }}</span>
            </div>
            #}
          </div>
        </a>
      </li>
      {%- endfor -%} {% else %}
      <p class="error">Something went wrong, no blog found.</p>
      {% endif %}
    </ul>
  </div>
  {#
  <div class="bubbles" aria-hidden="true"></div>
  #}
</section>

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-42">
  <div class="container">
    <div class="content">
      <div class="flex">
        <span class="topper">My Gallery</span>
        <h2 class="title">Silly pictures of me</h2>
      </div>
      {#
      <div class="flex">
        <a aria-label="view more pictures" href="" class="more-link">
          View More
          <img src="/assets/svgs/arrow.svg" alt="Arrow Icon" />
        </a>
      </div>
      #}
    </div>
    <div class="image-group">
      <picture class="picture picture-1">
        <source
          media="(max-width: 600px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra1-m.jpg
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra1.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra1.jpg"
          alt="formerly dress you people outside"
          width="380"
          height="271"
        />
      </picture>
      <picture class="picture picture-2">
        <source
          media="(max-width: 600px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra2-m.jpg
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra2.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra2.jpg"
          alt="formal dinner"
          width="380"
          height="271"
        />
      </picture>
      <picture class="picture picture-3">
        <source
          media="(max-width: 600px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra3-m.jpg
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra3.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra3.jpg"
          alt="formerly dress you people outside"
          width="780"
          height="582"
        />
      </picture>
      <picture class="picture picture-4">
        <source
          media="(max-width: 600px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra4-m.jpg
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra4.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra4.jpg"
          alt="recital"
          width="780"
          height="582"
        />
      </picture>
      <picture class="picture picture-5">
        <source
          media="(max-width: 600px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra5-m.jpg
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra5.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra5.jpg"
          alt="formal evening"
          width="380"
          height="271"
        />
      </picture>
      <picture class="picture picture-6">
        <source
          media="(max-width: 600px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra6-m.jpg
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra6.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/orchestra6.jpg"
          alt="formal dinner"
          width="380"
          height="271"
        />
      </picture>
    </div>
  </div>
</section>

{% endblock %}
