/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-inline {
        border-top: 1px solid #000;
        padding: var(--sectionPadding);

        .container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(800/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            margin: 0 0 calc(32/16 * 1rem) 0;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .left-section {
            width: 100%;
        }

        #form {
            width: 100%;
        }

        .label {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            line-height: 1.5em;
            /* 12px - 20px */
            margin-bottom: clamp(0.75rem, 1.3em, 1.25rem);
            color: var(--headerColor);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .label-message {
            /* 32px - 48px */
            margin-bottom: clamp(2rem, 5.3vw, 3rem);
        }

        .input,
        .textarea {
            font-size: calc(16/16 * 1rem);
            width: 100%;
            height: calc(64/16 * 1rem);
            margin-top: calc(4/16 * 1rem);
            /* prevents border & padding from affecting height */
            box-sizing: border-box;
            padding-left: 0.5rem;
            border: 1px solid #000;
            transition: border 0.3s;
            font-family: inherit;

            &:hover {
                border: 1px solid var(--primary);
            }
        }

        .textarea {
            font-family: inherit;
            min-height: calc(120/16 * 1rem);
            margin: 0;
            padding-top: calc(20/16 * 1rem);
        }

        .submit {
            width: fit-content;
            font-family: "Nexa", Arial, sans-serif;
            font-size: 1rem;
        }

        .right-section {
            width: 100%;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* 24px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem);
            /* cuts off corners on img tag */
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            /* 28px - 40px */
            gap: clamp(1.75rem, 4vw, 2.5rem);
            position: relative;
        }

        .ul {
            margin: 0;
            padding: 0;
        }

        .li {
            list-style: none;
            /* 16px - 20px */
            margin-bottom: clamp(1rem, 2vw, 1.25rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &:hover {
                .icon-wrapper {
                    transform: scale(1.2);
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .header {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            font-weight: 700;
            line-height: 1.2em;
            margin-bottom: calc(8/16 * 1rem);
            color: var(--headerColor);
            display: block;
        }

        .link {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-decoration: none;
            color: var(--bodyTextColor);
            position: relative;

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* top right box */
                content: "";
                width: 0%;
                height: 2px;
                /* current color of parent */
                background: currentColor;
                opacity: 1;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: width 0.3s;
            }
        }

        .icon-wrapper {
            width: calc(64/16 * 1rem);
            height: calc(64/16 * 1rem);
            /* 16px - 20px */
            margin-right: clamp(1rem, 2vw, 1.25rem);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.3s;
            flex: none;
        }

        .icon {
            /* 32px -36px */
            width: clamp(2rem, 3vw, 2.25rem);
            height: auto;
            display: block;
        }        
    }
}

/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
    #contact-inline {
        #form {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .label {
            width: 48%;
        }

        .label-message {
            width: 100%;
        }

        .button-solid {
            margin-left: 0;
        }

        .right-section {
            flex-direction: row;
            align-items: center;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-inline {
        .container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-start;
            /* 60px - 108px */
            gap: clamp(3.75rem, 5.9vw + 2em, 6.75rem);
        }

        .left-section {
            max-width: calc(522/16 * 1rem);
        }

        .label {
            width: 100%;
        }

        .right-section {
            width: 40vw;
            max-width: calc(630/16 * 1rem);
            flex-direction: column;
            align-items: flex-start;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .picture {
            width: 100%;
            max-width: 100%;
            height: calc(438/16 * 1rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #contact-inline {
            border-top: 1px solid #fff;
            .text,
            .title {
                color: var(--bodyTextColorWhite);
            }

            #form {
                label,
                input,
                textarea {
                    background-color: transparent;
                    color: var(--bodyTextColorWhite);

                    &::placeholder {
                        color: var(--bodyTextColorWhite);
                    }
                }

                .input,
                .textarea {
                    border-color: #fff;
                }
            }

            .icon {
                filter: invert(100%);
            }

            .header,
            .link {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}
                                