/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

#hero {
    z-index: 1;
    position: relative;
    overflow: hidden;
    padding-top: calc(120 / 16 * 1rem);
    margin-bottom: calc(50 / 16 * 1rem);
    text-align: center;

    span {
        font-style: italic;
        box-shadow: inset 0 -6px var(--emphasis);
    }

    .social-section {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1rem;
        margin-bottom: 4rem;

        .topper {
            margin: 0;
        }

        img {
            transition: transform 0.3s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }

    a {
        text-decoration: none;
    }

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: calc(1280 / 16 * 1em);
        width: 90%;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            opacity: 1;
            display: block;
            height: 100%;
            width: 1px;
        }
    }

    .topper {
        margin-bottom: calc(16 / 16 * 1rem);
        color: var(--primary);
        text-align: center;
    }

    .title {
        width: 100%;
        color: var(--bodyTextColor);
        font-size: clamp(6rem, 10vw, 8rem);
        margin-bottom: calc(32 / 16 * 1rem);
        text-align: left;
    }

    .text {
        margin-bottom: clamp(2.5rem, 4vw, 3rem);
        color: var(--bodyTextColor);
        font-size: clamp(1.9375rem, 3.9vw, 3.0625rem);
        max-width: calc(940 / 16 * 1rem);
        font-weight: 400;
        margin-left: auto;
        text-align: right;
    }

    .button-transparent {
        z-index: 1;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--bodyTextColorWhite);
        margin: 0 calc(8 / 16 * 1rem);
        background-color: transparent;
        height: clamp(2.875em, 5.5vw, 3.5em);
        width: calc(180 / 16 * 1rem);
        box-sizing: border-box;
        padding: 0;
        text-decoration: none;
        font-size: calc(16 / 16 * 1rem);
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        font-weight: 700;
        color: #fff;

        .img {
            display: block;
            margin-right: calc(12 / 16 * 1rem);
        }

        &:before {
            z-index: -1;
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: -1px;
            right: -1px;
            content: "";
            opacity: 1;
            transform: scaleX(0);
            display: block;
            background: #000;
            transition: transform 0.3s;
            transform-origin: left;
        }

        &:hover {
            &:before {
                transform: scaleX(1);
            }
        }
    }

    /* Tablet - 768px */
    @media only screen and (min-width: 64rem) {
        .container {
            padding: calc(64 / 16 * 1rem) 0 0 0;
            
            &:after {
                position: absolute;
                top: 0;
                right: 0;
                content: "";
                opacity: 1;
                display: block;
                height: 100%;
                width: 1px;
            }
        }

        .button-solid {
            margin-right: calc(20 / 16 * 1rem);
            margin-bottom: 0;
        }
    }

    /* Desktop Parallax Effect - 1300px */
    @media only screen and (min-width: 81.25em) {
        background: url("/assets/images/landing.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

/* Dark Mode */
body.dark-mode {
    #hero {
        .background {
            &:before {
                opacity: 0.8;
            }
        }
        
        .title,
        .text,
        .topper {
            color: #fff;
        }

        img {
            filter: invert(100%);
        }

        span {
            color: var(--bodyTextColorWhite);
            box-shadow: inset 0 -6px var(--emphasis-dark);
        }
    }
}
