/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #about {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;
        border-top: 1px solid #000;

        .container {
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
            /* 48px - 108px */
            gap: clamp(6rem, 10vw, 13rem);
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            /* sends it to the bottom in the 2nd position */
            order: 2;
        }

        // .title {
        //     max-width: 20ch;
        // }

        .text {
            margin-bottom: calc(16 / 16 * 1rem);
            font-size: 1.1rem;
        }

        .picture {
            width: 100%;
            /* 456px - 598px */
            height: clamp(28.5rem, 46vw, 37.375rem);
            overflow: hidden;
            display: block;
            /* sends it to the bottom in the 2nd position */
            order: 2;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 80%;
                object-fit: cover;
                position: absolute;
                object-position: left;
                top: 0;
                left: 0;
            }
        }

        .background {
            width: 100%;
            height: 40%;
            background-color: #1a1a1a;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #about {
        .content {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: calc(32 / 16 * 1rem);
        }

        .flex {
            width: 100%;
        }

        .title {
            margin: 0;
        }

        .text {
            width: 50%;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #about {
        /* moved padding back to the section container */
        padding: var(--sectionPadding);

        .container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .content {
            width: 100%;
            max-width: calc(433 / 16 * 1rem);
            margin: 0;
            flex-direction: column;
            row-gap: 0;
            order: 1;
        }

        .flex {
            width: 100%;
        }

        .title {
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .text {
            width: 100%;
        }

        .picture {
            max-width: calc(738 / 16 * 1rem);
        }

        .background {
            width: 60vw;
            height: 100%;
            /* 172px - 336px */
            margin-left: clamp(11.125rem, 30vw, 21rem);
            left: 50%;
            top: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #about {
            border-top: 1px solid #fff;

            .title,
            .text {
                color: var(--bodyTextColorWhite);
            }

            .text {
                opacity: 0.8;
            }

            .background {
                background-color: #fff;
                img {
                    filter: invert(100%);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #intro {
        border-top: 1px solid #000;
        padding: var(--sectionPadding);
        position: relative;
        overflow: hidden;
        z-index: 1;

        .container {
            width: 100%;
            /* changes to 1280px at small desktop */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 3.9vw, 4rem);
        }

        .image-group {
            width: 100%;
            height: auto;
            margin: 0;
            position: relative;
        }

        .picture {
            width: 100%;
            min-height: calc(328 / 16 * 1rem);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: left;
            }
        }

        .floater {
            width: clamp(20.125rem, 40vw, 28.1875rem);
            height: clamp(20.1875rem, 40vw, 28.25rem);
            position: absolute;
            bottom: calc(0 / 16 * 1rem);
            z-index: 1;
            mix-blend-mode: soft-light;
        }

        .content {
            text-align: left;
            width: 100%;
            max-width: calc(650 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            flex: none;
        }

        .title {
            /* 16px - 24px */
            margin: 0 0 clamp(1rem, 1.96vw, 1.5rem) 0;
        }

        .text {
            /* 16px - 24px */
            margin: 0 0 clamp(1rem, 1.96vw, 1.5rem) 0;
        }

        .faq-group {
            width: 100%;
            padding: 0;
            margin: 0;
            margin-bottom: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.4vw, 1.25rem);
        }

        .button-solid {
            margin: 0;
        }

        .faq-item {
            list-style: none;
            width: 100%;
            background-color: transparent;
            padding: 0;
            box-sizing: border-box;
            transition: border-bottom 0.3s;

            &.active {
                .indicator {
                    &:before {
                        transform: translate(-50%, -50%) rotate(360deg);
                    }

                    &:after {
                        transform: translate(-50%, -50%) rotate(0deg);
                    }
                }

                .item-p {
                    height: auto;
                    padding-top: calc(16 / 16 * 1rem);
                    opacity: 1;
                    transform: scaleY(1);
                }
            }

            &:hover {
                cursor: pointer;
            }
        }

        .service-button {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-align: left;
            width: 100%;
            border: none;
            background: transparent;
            color: var(--headerColor);
            overflow: hidden;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 16px - 24px */
            gap: clamp(1rem, 2.5vw, 1.5rem);
            position: relative;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                cursor: pointer;
            }
        }

        .indicator {
            width: calc(24 / 16 * 1rem);
            height: calc(24 / 16 * 1rem);
            position: relative;
            z-index: 1;

            &:before {
                /* left line */
                content: "";
                width: calc(16 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: #000;
                opacity: 1;
                border-radius: 2px;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: calc(16 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: #000;
                opacity: 1;
                border-radius: 2px;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(90deg);
                transition: transform 0.5s;
            }
        }

        .button-text {
            width: 90%;
            padding: 0;
            display: block;
        }

        .item-p {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            width: 100%;
            max-width: none;
            height: 0;
            margin: 0;
            box-sizing: border-box;
            opacity: 0;
            color: var(--bodyTextColor);
            overflow: hidden;
            position: relative;
            transition: opacity 0.3s, padding-bottom 0.3s, padding-top 0.3s;
        }

        .icon {
            width: calc(32 / 16 * 1rem);
            height: calc(32 / 16 * 1rem);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #intro {
        .picture {
            height: 100%;
            min-width: calc(584 / 16 * 1rem);
            width: 48vw;
            right: 0;
            top: 0;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #intro {
        .container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .content {
            width: 55%;
        }

        .image-group {
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
        }

        .picture {
            width: 100%;
            min-width: 100%;
        }

        .floater {
            width: calc(451 / 16 * 1rem);
            right: clamp(50%, 18vw, 75%);
            bottom: calc(-100 / 16 * 1rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #intro {
            border-top: 1px solid #fff;

            .icon {
                filter: invert(100%);
            }

            .indicator {
                &:before,
                &:after {
                    background-color: var(--bodyTextColorWhite);
                }
            }

            .faq-item.active .button:before,
            .faq-item.active .button:after {
                background-color: var(--primary);
            }

            .button {
                color: var(--bodyTextColorWhite);
            }

            .item-p {
                color: var(--bodyTextColorWhite);
            }

            .floater {
                opacity: 0.1;
            }
        }
    }
}

/*-- -------------------------- -->
<---        Recent Posts        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #blog {
        padding: 4rem;
        border-top: 1px solid #000;
        position: relative;
        z-index: 1;
        overflow: hidden;

        .container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .horizontal-flex {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: calc(16 / 16 * 1rem);
        }

        .card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: calc(16 / 16 * 1rem);
        }

        .error {
            grid-column: span 12;
        }

        .item {
            list-style: none;
            display: flex;
            flex-direction: column;
            grid-column: span 12;
        }

        .link {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            /* if one card has more content then the others, the card will stretch to fill the parent container */
            flex-grow: 1;
            gap: calc(16 / 16 * 1rem);
        }

        .picture {
            width: 100%;
            height: calc(320 / 16 * 1rem);
            margin: 0;
            // border-radius: calc(24 / 16 * 1rem);
            display: block;
            position: relative;
            z-index: 1;
            overflow: hidden;
            border-color: #000;
            border-width: 2px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .item-text {
            padding: calc(20 / 16 * 1rem) 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            /* makes the item text the element that grows to fill the container */
            flex-grow: 1;
            transition: background-color 0.3s;
        }

        .h4 {
            font-weight: 200;
            line-height: 1.2em;
            text-align: left;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: calc(16 / 16 * 1rem);
            transition: color 0.3s;
            margin-bottom: calc(8 / 16 * 1rem);
        }

        .desc {
            font-size: 0.9rem;
            margin-bottom: calc(16 / 16 * 1rem);
        }

        .icon-wrapper {
            width: calc(48 / 16 * 1rem);
            height: calc(48 / 16 * 1rem);
            border: 1px solid #bababa;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents the parent flexbox from shrinking the icon */
            flex-shrink: 0;
            transition: border-color 0.3s;
        }

        .icon {
            width: auto;
            height: calc(12 / 16 * 1rem);
            transition: filter 0.3s, transform 0.3s;
        }

        .info {
            margin: calc(16 / 16 * 1rem) 0 0;
            padding: calc(16 / 16 * 1rem) 0 0;
            border-top: 1px solid #e8e8e8;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .date {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            text-align: left;
            color: #1a1a1a;
            display: flex;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
            transition: color 0.3s;
        }

        .date-icon {
            width: auto;
            height: calc(24 / 16 * 1rem);
            transition: filter 0.3s;
        }

        .category {
            font-size: calc(14 / 16 * 1rem);
            /* centers the text if the category bullet has to span multiple lines */
            text-align: center;
            padding: calc(4 / 16 * 1rem) calc(16 / 16 * 1rem);
            color: #1a1a1a;
            border-radius: calc(80 / 16 * 1rem);
            position: relative;
            z-index: 0;
            overflow: hidden;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background: #e8e8e8;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #blog {
        .bubbles {
            display: block;
        }

        .content {
            flex-direction: row;
            justify-content: space-between;
            gap: calc(48 / 16 * 1rem);
        }

        .flex {
            min-width: 45%;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #blog {
        .container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .item {
            grid-column: span 4;
        }

        .bubbles {
            top: calc(281 / 16 * 1rem);
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #blog {
        .bubbles {
            margin-right: calc(-990 / 16 * 1rem);
            right: 50%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #blog {
            border-top: 1px solid #fff;
            .topper {
                color: var(--primaryLight);
            }
            .title,
            .text,
            .h4,
            .date,
            .category {
                color: var(--bodyTextColorWhite);
            }

            .text,
            .date,
            .category {
                opacity: 0.8;
            }

            // .item-text {
            //     background-color: var(--medium);
            // }

            .category {
                &::before {
                    background-color: var(--accent);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #gallery {
        padding: 4rem;

        .container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .text {
            margin-bottom: calc(16 / 16 * 1rem);
            max-width: calc(630 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .more-link {
            font-size: calc(15 / 16 * 1rem);
            font-weight: 700;
            text-decoration: none;
            line-height: 1.5em;
            width: calc(128 / 16 * 1rem);
            color: var(--headerColor);
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 2px;
                width: 100%;
                background: currentColor;
                opacity: 1;
                bottom: calc(-3 / 16 * 1rem);
                left: 0;
            }
            &:hover {
                svg {
                    transform: translateX(0.4375rem);
                }
            }

            svg {
                width: calc(24 / 16 * 1rem);
                height: calc(24 / 16 * 1rem);
                transition: transform 0.3s;
            }
        }

        .image-group {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(6, 31vw);
            /* 16px - 20px */
            gap: clamp(0.5rem, 1.5vw, 1.25rem);
        }

        .picture {
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            iframe {
                width: 100%;
                height: 100%;
            }
        }

        .picture-1 {
            grid-column: 1 / span 6;
            grid-row: span 1;
        }

        .picture-2 {
            grid-column: 7 / span 6;
            grid-row: span 1;
        }

        .picture-3 {
            grid-column: 1 / span 12;
            grid-row: 2 / span 2;
        }

        .picture-4 {
            grid-column: 1 / span 12;
            grid-row: 4 / span 2;
        }

        .picture-5 {
            grid-column: 1 / span 6;
            grid-row: 6 / span 1;
        }

        .picture-6 {
            grid-column: 7 / span 6;
            grid-row: 6 / span 1;
        }
    }
}

/* Tablet */
@media only screen and (min-width: 48rem) {
    #gallery {
        .content {
            flex-direction: row;
            justify-content: space-between;
            gap: calc(48 / 16 * 1rem);
        }

        .flex {
            min-width: 45%;
        }

        .image-group {
            /* 116px - 210px */
            grid-template-rows: repeat(3, clamp(7.25rem, 16vw, 13.125rem));
        }

        .picture-1 {
            grid-column: 1 / span 3;
            grid-row: 1 / span 1;
        }

        .picture-2 {
            grid-column: 4 / span 3;
            grid-row: 1 / span 1;
        }

        .picture-3 {
            grid-column: 1 / span 6;
            grid-row: 2 / span 2;
        }

        .picture-4 {
            grid-column: 7 / span 6;
            grid-row: 1 / span 2;
        }

        .picture-5 {
            grid-column: 7 / span 3;
            grid-row: 3 / span 1;
        }

        .picture-6 {
            grid-column: 10 / span 3;
            grid-row: 3 / span 1;
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery {
            .title,
            .text {
                color: var(--bodyTextColorWhite);
            }

            .link {
                color: var(--bodyTextColorWhite);

                &:before {
                    background: var(--bodyTextColorWhite);
                }

                svg {
                    path {
                        fill: var(--bodyTextColorWhite);
                    }
                }
            }
        }
    }
}

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps {
        border-top: 1px solid #000;
        padding: var(--sectionPadding);

        .container {
            width: 100%;
            /* changes to 1920px at tablet */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            padding: 0 calc(16 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .text {
            /* Override.  topper title and first text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
            max-width: calc(522 / 16 * 1rem);
        }

        .card-group {
            margin: 0;
            padding: 0;
            display: grid;
            justify-items: center;
            align-items: stretch;
            grid-auto-flow: row;
        }

        .item {
            list-style: none;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            padding: calc(24 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;

            /* bottom border */
            &::after {
                content: "";
                width: 100%;
                height: 1px;
                /* to change the color of the bottom border, adjust the second color (at 50%). the first and third will blend the color to transparent */
                /* note you'll also have to change the color in the tablet media query when the lines go vertical */
                background: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(186, 186, 186, 1) 50%,
                    rgba(255, 255, 255, 0) 100%
                );
                position: absolute;
                bottom: 0;
                left: 0;
            }

            &:first-of-type {
                padding-top: 0;
            }

            &:last-of-type {
                padding-bottom: 0;

                &::after {
                    content: none;
                }
            }
        }

        .number {
            /* 80px - 100px */
            font-size: clamp(5rem, 1vw, 6.25rem);
            font-weight: 400;
            line-height: 1.2em;
            color: var(--primary);
            opacity: 0.12;
            display: block;
            font-family: "Nexa", Arial, sans-serif;
        }

        .h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: calc(-32 / 16 * 1rem) 0 calc(16 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2vw, 1rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps {
        .container {
            max-width: calc(1920 / 16 * 1rem);
        }

        .card-group {
            grid-template-columns: repeat(4, 1fr);
            gap: 0;
        }

        .item {
            /* 24px - 60px */
            padding: clamp(1.5rem, 3vw, 3.75rem);

            &::after {
                width: 1px;
                height: 100%;
                background: linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgba(186, 186, 186, 1) 50%,
                    rgba(255, 255, 255, 0) 100%
                );
                opacity: 0.6;
                opacity: 0.6;
                right: 0;
                left: initial;
            }

            /* the specificity of the mobile .item means we need to explicitly define the first and last items here, too */
            &:first-of-type,
            &:last-of-type {
                /* 24px - 60px */
                padding: clamp(1.5rem, 3vw, 3.75rem);
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #steps {
            border-top: 1px solid #fff;

            .topper {
                color: var(--primaryLight);
            }
            .title {
                color: var(--bodyTextColorWhite);
            }

            .item {
                border-color: var(--bodyTextColorWhite);
                &:after {
                    opacity: 0.2;
                }
            }

            .item-text,
            .text {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .h3,
            .number {
                color: var(--primaryLight);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #gallery {
        border-top: 1px solid #000;
        padding: var(--sectionPadding);

        .container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .text {
            margin-bottom: calc(16 / 16 * 1rem);
            max-width: calc(630 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .link {
            font-size: calc(15 / 16 * 1rem);
            font-weight: 700;
            text-decoration: none;
            line-height: 1.5em;
            width: calc(100 / 16 * 1rem);
            color: var(--headerColor);
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 2px;
                width: 100%;
                background: currentColor;
                opacity: 1;
                bottom: calc(-3 / 16 * 1rem);
                left: 0;
            }
            &:hover {
                svg {
                    transform: translateX(0.4375rem);
                }
            }

            svg {
                width: calc(24 / 16 * 1rem);
                height: calc(24 / 16 * 1rem);
                transition: transform 0.3s;
            }
        }

        .image-group {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(6, 31vw);
            /* 16px - 20px */
            gap: clamp(0.5rem, 1.5vw, 1.25rem);
        }

        .picture {
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .picture-1 {
            grid-column: 1 / span 6;
            grid-row: span 1;
        }

        .picture-2 {
            grid-column: 7 / span 6;
            grid-row: span 1;
        }

        .picture-3 {
            grid-column: 1 / span 12;
            grid-row: 2 / span 2;
        }

        .picture-4 {
            grid-column: 1 / span 12;
            grid-row: 4 / span 2;
        }

        .picture-5 {
            grid-column: 1 / span 6;
            grid-row: 6 / span 1;
        }

        .picture-6 {
            grid-column: 7 / span 6;
            grid-row: 6 / span 1;
        }
    }
}

/* Tablet */
@media only screen and (min-width: 48rem) {
    #gallery {
        .content {
            flex-direction: row;
            justify-content: space-between;
            gap: calc(48 / 16 * 1rem);
        }

        .flex {
            min-width: 45%;
        }

        .image-group {
            /* 116px - 210px */
            grid-template-rows: repeat(3, clamp(7.25rem, 16vw, 13.125rem));
        }

        .picture-1 {
            grid-column: 1 / span 3;
            grid-row: 1 / span 1;
        }

        .picture-2 {
            grid-column: 4 / span 3;
            grid-row: 1 / span 1;
        }

        .picture-3 {
            grid-column: 1 / span 6;
            grid-row: 2 / span 2;
        }

        .picture-4 {
            grid-column: 7 / span 6;
            grid-row: 1 / span 2;
        }

        .picture-5 {
            grid-column: 7 / span 3;
            grid-row: 3 / span 1;
        }

        .picture-6 {
            grid-column: 10 / span 3;
            grid-row: 3 / span 1;
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery {
            border-top: 1px solid #fff;
            .title,
            .text {
                color: var(--bodyTextColorWhite);
            }

            .link {
                color: var(--bodyTextColorWhite);

                &:before {
                    background: var(--bodyTextColorWhite);
                }

                svg {
                    path {
                        fill: var(--bodyTextColorWhite);
                    }
                }
            }
        }
    }
}
